.wp-block-emb-button {
    transition: var(--wp--custom--transition);
}

.wp-block-emb-button.has-pink-hero-background-color:hover {
    background-color: var(--wp--preset--color--teal-hero) !important;
}

.white-on-hover:hover {
    background-color: var(--wp--preset--color--white);
    color: var(--wp--preset--color--pink-hero) !important;
}
